<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
        <style type="text/css">
            ul.errorlist {margin: 0; padding: 0;}
            .errorlist li {background-color: red; color: white; display: block; font-size: 10px; margin: 0 0 3px; padding: 4px 5px;}
        </style>
	</head>
	<body>
		<h1>My helpful timestamp site</h1>

		{% include "nav.html" %}
		
		{% block content %}{% endblock %}

		{% block footer %}
		<p>Thanks for visiting.</p>
		{% endblock %}		

	</body>
</html>